/* Comentários */
@import "https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap";

* {
  background-color: black;
}

.title {
  color: green;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 100px;
}
strong {
  color: purple;
}
